*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html{
    font-family: 'Yantramanav', sans-serif;
}

a{
    text-decoration: none;
}

header{
    /* padding: 10px 20px; */
    padding-bottom: 50px;
    background-image: url(../img/jumbo.png);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

header nav{
    /* background-color: lightcoral; */

    display: flex;
    justify-content: space-between;
    width: 80%;
    margin: 0 auto;
    padding-top: 40px;
    align-items: center;
}

header nav figure,
header nav ul,
header nav a{
    color: white;

}

header nav ul{
    display: flex;
    gap: 80px;
}

header nav ul li{
    /* display: inline-block; */
    list-style-type: none;  
}

.accedi{
    color: black;
    background-color: white;
    padding: 10px 15px 10px 15px;
    border-radius: 20px;
    
}

#cta{
    width: 50%;
    margin: 70px auto 70px auto;
    text-align: center;
}

#cta h2,p{
    color: white;
}

#cta h2{
    font-size:60px;
    padding-block: 20px;
}

#cta p{
    font-size:20px;
    padding-block: 20px;
}

#cta-buttons button{
    font-size: 25px;
    font-family: 'Yantramanav', sans-serif;
    padding: 10px 20px;
    border-radius: 30px;
    border:none;
    margin-inline: 10px;
}

#cta-buttons button:last-child{
    background-color: #23272a;
    color: white;
    
}


/* sezioni centrali */
.container{
    width: 80%;
    margin: 150px auto;
}

section{
    padding-block: 20px;
}

section .section-text h3{
    font-size: 50px;
    padding-top: 20px;
}

section .section-text p{
    font-size: 20px;
    padding-top: 20px;
    color: black;
}

section .img-text{
    display: flex;
    justify-content: space-evenly;
}

section .img-text figure{
    flex-basis: 60%;
}

section .img-text .section-text{
    flex-basis: 25%;
}

section.discord-services:nth-child(even){
    background-color: lightgray;
}

section.discord-services:nth-child(even) .img-text figure{
    order: 1;
}


/* ultima sezione */
section.discord-services:last-child{
    text-align: center;
}

section.discord-services:last-child h3{
    font-size: 50px;
}

section.discord-services:last-child p{
    font-size: 20px;
    color: black;
    width: 70%;
    margin: auto;
    margin-top: 30px;
}

section.discord-services:last-child img{
    width: 90%;
}

section.discord-services:last-child h5{
    font-size: 30px;
    width: 40%;
    margin: auto;
    height: 80px;
    background-image: url(../img/stars.svg);
    background-repeat: no-repeat;
    background-size: contain;
    padding-top: 30px;
}

section.discord-services:last-child button{
    font-size: 20px;
    background-color: #8ea1e1;
    color: white;
    border: none;
    border-radius: 30px;
    padding: 15px 30px 15px 30px;
    margin-top: 20px;
}



/* footer */
footer{
    background-color: #23272a;
    color: white;
}

footer .container{
    margin-top:0px;
    padding-top: 60px;
    display: flex;
}

footer .container > div{
    flex-grow: 2;
}

footer .container>div:first-child{
    flex-grow: 3;
    
}

footer ul li{
    list-style-type: none;
    line-height: 160%;
}

.container h4{
    color: #7289da;
}

.container a{
    color: white;
}

div.container div:first-child h4{
    font-size: 30px;
    color: #7289da;
}

div.container div:first-child span{
    display: inline-block;
    margin-block: 20px;

}

div.container div:first-child span img{
    width: 20px;    
}

div.container div:first-child ul{
    display: flex;
    gap: 20px;
}

hr{
    border: 1px solid #7289da;
    width: 80%;
    margin: auto;
}

footer .footer-login{
    display: flex;
    justify-content: space-between;
}

.registrati{
    color: white;
    background-color: #7289da;
    padding: 10px 15px 10px 15px;
    border-radius: 20px;  
}
/* finito esercizio */